.book-card {
  width: 320px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  padding: 20px;
}

.book-card:hover {
  box-shadow: 0 0 10px #2b2f55;
}

.book-card h2 {
  font-size: 18px;
  text-align: center;
  line-height: 1.2;
}

.cover-img {
  width: 140px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.like-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.price {
  font-weight: 700;
}

.like-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.book-info-section {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.separator {
  border: 1px solid rgba(255, 255, 255, 0.08);
  width: 100%;
}

/* comments */
.comments-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 150px;
  overflow-y: auto;
}

.comment-box {
  background-color: rgba(28, 20, 36, 0.253);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  padding: 8px;
}

.no-comments {
  opacity: 0.8;
  font-size: 14px;
}

.input-comment {
  width: 100%;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 5px;
  margin-top: 6px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  border-radius: 4px;
  border: none;
  background: rgba(229, 224, 244, 0.884);
  padding: 6px 8px;
}

.send-comment-button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
}
