header {
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1000;

  /* Hintergrundbild */
  background-image:
    linear-gradient(
      rgba(15, 16, 32, 0.7),
      rgba(15, 16, 32, 0.7)
    ),
    url("../assets/images/header-eagles.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
}


.header-inner {
  width: 100%;
  max-width: 1440px;
  height: 110px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 0 16px;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  text-decoration: none;
}

.logo-link {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1px;
}

nav {
  display: flex;
  height: 100%;
}

.hauptmenu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-size: 18px;
}

.hauptmenu ul a {
  text-transform: uppercase;
  margin-left: 16px;
}

.hauptmenu ul a:hover {
  color: orangered;
  transition: color 0.2s ease, border-bottom 0.1s ease;
  filter: drop-shadow(0px 0px 8px #ea8e0e);
}

.hauptmenu a.active {
  color: #ea8e0e;
  font-weight: bold;
}
.burger {
  display: none;
  width: 44px;
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  padding: 8px;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.burger span {
  display: block;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .header-inner {
    position: relative;
  }

  .burger {
    display: flex;
  }

  .hauptmenu {
  display: none;
  position: absolute;
  top: 90%;
  right: 0;
  width: 150px;

  background: rgba(15, 16, 32, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.45);
  z-index: 2000;
}


  .hauptmenu.open {
    display: block;
  }

  .hauptmenu ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: -10px;
    padding: 0;
    list-style: none;
  }

  .hauptmenu li {
    width: 100%;
  }

  .hauptmenu a {
  display: block;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 14px;
}

.hauptmenu a:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #ea8e0e;
}

  nav {
    height: auto;
  }
}
